# PORT  -- the port for app listen
PORT=3000

# DB_URL  --  DB_URL for db connection
DB_URL=https://kicpxnxzepliavwksjmh.supabase.co

# API_KEY  --  API_KEY for db connection
API_KEY=sb_secret_TmAn8k8bdf9PN2C-yfuyGw_oBBTu2qS

# SECRET  -- SECRET to hash the token
SECRET=BLABLABLABLA
